@model pcg.Models.VariationModel

@{
    ViewData["Title"] = "History";
}

<h1 style="text-align:center">Tasks Log</h1>
<input class="form-control" type="text" id="search" placeholder="Search here">
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Log No.</th>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Assigned/Forwarded</th>
            <th class="text-center text-uppercase">Position</th>
            <th class="text-center text-uppercase">Added By</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Date Start</th>
            <th class="text-center text-uppercase">Date Forwarded</th>
            <th class="text-center text-uppercase">Date Received</th>
            <th class="text-center text-uppercase">Date Completed</th>         
        </tr>
    </thead>
    <tbody id="myTable">
            <tr>
                <td class="text-center text-nowrap">kahoy</td>
                <td class="text-center text-nowrap">utos hindi</td>
                <td class="text-center text-nowrap">tinalaga abante</td>
                <td class="text-center text-nowrap">puwesto</td>
                <td class="text-center text-nowrap">dinagdag ni</td>
                <td class="text-center text-nowrap">kalagayan</td>
                <td class="text-center text-nowrap">nagsimula</td>
                <td class="text-center text-nowrap">inabante</td>
                <td class="text-center text-nowrap">natanggap</td>
                <td class="text-center text-nowrap">natapos</td>
        </tr>
    </tbody>
</table>