@model pcg.Models.AdminModel
@{
    ViewData["Title"] = "Admin Page";
}
<div class="text-center">
    <div>
        <h1 class="display-4">Hi</h1>
    </div>
    <div>
        <h1 class="display-4">Hello</h1>
    </div>
    <div>
        <h1 class="display-4">World</h1>
    </div>
</div> 